using WHO.BioHub.Models.Models;

namespace WHO.BioHub.{{.Module.Name}}.Core.UseCases.{{.Entity.Plural}}.Update{{.Entity.Singular}};

public record struct Update{{.Entity.Singular}}CommandResponse({{.Entity.Singular}} {{.Entity.Singular}}) { }