using WHO.BioHub.Models.Models;

namespace WHO.BioHub.{{.Module.Name}}.Core.UseCases.{{.Entity.Plural}}.Read{{.Entity.Singular}};

public record struct Read{{.Entity.Singular}}QueryResponse({{.Entity.Singular}} {{.Entity.Singular}}) { }