using WHO.BioHub.Models.Models;

namespace WHO.BioHub.{{.Module.Name}}.Core.UseCases.{{.Entity.Plural}}.List{{.Entity.Plural}};

public record struct List{{.Entity.Plural}}QueryResponse(IEnumerable<{{.Entity.Singular}}> {{.Entity.Plural}}) { }