using WHO.BioHub.Models.Models;

namespace WHO.BioHub.{{.Module.Name}}.Core.UseCases.{{.Entity.Plural}}.Delete{{.Entity.Singular}};

public record struct Delete{{.Entity.Singular}}CommandResponse() { }