using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using WHO.BioHub.API.Http.Extensions;
using WHO.BioHub.Search.Core.UseCases.{{.Entity.Plural}}.{{.Rule.Name}};
using WHO.BioHub.Shared.Utils;

namespace WHO.BioHub.Search.API.Http.Controllers.{{.Rule.Name}};

public interface I{{.Rule.Name}}Controller
{
    Task<IActionResult> {{.Rule.Name}}(HttpRequest request, CancellationToken cancellationToken);
}

public class {{.Rule.Name}}Controller : ControllerBase, I{{.Rule.Name}}Controller
{
    private readonly I{{.Rule.Name}}Handler _search{{.Rule.Name}}Handler;

    public {{.Rule.Name}}Controller(
        I{{.Rule.Name}}Handler search{{.Rule.Name}}Handler)
    {
        _search{{.Rule.Name}}Handler = search{{.Rule.Name}}Handler;
    }

    public async Task<IActionResult> {{.Rule.Name}}(HttpRequest request, CancellationToken cancellationToken)
    {
        Either<{{.Rule.Name}}Query, Errors> body =
            await request.ParseBodyJson<{{.Rule.Name}}Query>(cancellationToken);
        if (body.IsRight)
            return body.Right.ToIActionResult();

        Either<{{.Rule.Name}}QueryResponse, Errors> result =
            await _search{{.Rule.Name}}Handler.Handle(body.Left, cancellationToken);
        if (result.IsRight)
            return result.Right.ToIActionResult();

        return new OkObjectResult(result.Left);
    }
}
