using FluentValidation.Results;
using WHO.BioHub.Models.Models;
using WHO.BioHub.Models.Repositories.{{.Entity.Plural}};
using WHO.BioHub.{{.Module.Name}}.Core.UseCases.{{.Entity.Plural}}.Read{{.Entity.Singular}};
using WHO.BioHub.Shared.Utils;

namespace WHO.BioHub.{{.Module.Name}}.Core.UnitTests.UseCases.{{.Entity.Plural}}.Read{{.Entity.Singular}};

public class Read{{.Entity.Singular}}HandlerUnitTests
{
    [Fact]
    public async Task If_resource_is_read_then_a_valid_response_is_returned()
    {
        // Arrange
        Read{{.Entity.Singular}}QueryValidator validatorMock = Substitute.For<Read{{.Entity.Singular}}QueryValidator>();
        ILogger<Read{{.Entity.Singular}}Handler> loggerMock = Substitute.For<ILogger<Read{{.Entity.Singular}}Handler>>();
        I{{.Entity.Singular}}ReadRepository repositoryMock = Substitute.For<I{{.Entity.Singular}}ReadRepository>();
        CancellationToken cancellationToken = default;

        Read{{.Entity.Singular}}Handler handler = new(loggerMock, validatorMock, repositoryMock);
        Read{{.Entity.Singular}}Query cmd = new();

        validatorMock
            .ValidateAsync(cmd, cancellationToken)
            .ReturnsForAnyArgs(new ValidationResult());

        Guid id = Guid.NewGuid();
        {{.Entity.Singular}} {{.Entity.Singular | lower}} = new() { Id = id };

        Guid assignedId = Guid.NewGuid();
        repositoryMock
            .Read(id, cancellationToken)
            .ReturnsForAnyArgs(Task.FromResult({{.Entity.Singular | lower}}));

        // Act
        Either<Read{{.Entity.Singular}}QueryResponse, Errors> response = await handler.Handle(cmd, cancellationToken);

        // Assert
        response.Should()
            .NotBeNull(because: "A response is expected in this scenario");
        response.IsLeft.Should()
            .BeTrue(because: "Response is expected in this scenario");
        response.Left.Should()
            .NotBeNull(because: "Response should NOT be null");
        response.Left.{{.Entity.Singular}}.Id.Should()
            .Be(id, because: "Expected id to be the requested one");

        Received.InOrder(async () =>
        {
            await validatorMock.ValidateAsync(Arg.Any<Read{{.Entity.Singular}}Query>(), cancellationToken).Received(1);
            await repositoryMock.Read(id, cancellationToken).Received(1);
        });
    }

    [Fact]
    public async Task If_validation_fails_then_errors_must_be_returned()
    {
        // Arrange
        Read{{.Entity.Singular}}QueryValidator validatorMock = Substitute.For<Read{{.Entity.Singular}}QueryValidator>();
        ILogger<Read{{.Entity.Singular}}Handler> loggerMock = Substitute.For<ILogger<Read{{.Entity.Singular}}Handler>>();
        I{{.Entity.Singular}}ReadRepository repositoryMock = Substitute.For<I{{.Entity.Singular}}ReadRepository>();
        CancellationToken cancellationToken = default;

        Read{{.Entity.Singular}}Handler handler = new(loggerMock, validatorMock, repositoryMock);
        Read{{.Entity.Singular}}Query cmd = new();

        validatorMock
            .ValidateAsync(cmd, cancellationToken)
            .ReturnsForAnyArgs(new ValidationResult(new ValidationFailure[1] { new("test", "error message") }));

        // Act
        Either<Read{{.Entity.Singular}}QueryResponse, Errors> response = await handler.Handle(cmd, cancellationToken);

        // Assert
        response.Should()
            .NotBeNull(because: "A response is expected in this scenario");
        response.IsRight.Should()
            .BeTrue(because: "Errors are expected in this scenario");
        response.Right.Should()
            .NotBeNull(because: "If errors are returned, errors should NOT be null");
        response.Right.Messages.Should()
            .NotBeNullOrEmpty(because: "If errors are returned, at least one message must be defined");
        response.Right.ErrorType.Should()
            .Be(ErrorType.Validation, because: "Validation Errors are expected in this scenario");

        Received.InOrder(async () =>
        {
            await validatorMock.ValidateAsync(Arg.Any<Read{{.Entity.Singular}}Query>(), cancellationToken).Received(1);
            await repositoryMock.Read(Arg.Any<Guid>(), cancellationToken).Received(0);
        });
    }
}